
body{
    background-color:#bed9ec;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

header .navbar{
    width: 100%;
}

.img-logo{
    width: 50px;
    margin-left: 5px;
}

.navbar {
    background-color: #506DA4;
}

a{
    list-style: none;
}
.navbar-nav .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}


.navbar-nav .nav-link:hover{
    color: #82bce5;
    padding: 3px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 6px;
}

/*--Form--*/
.contenedor form{
    margin-top:30%;
    background-color: #e4e4e4;
    padding: 20px;
    border-radius: 10px;
    
}


/*--footer--*/

footer{
    background-color: #48546B;
    margin-top: 60px;
    padding: 20px;
}

p{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}


/*--Media Queries--*/
@media screen and (min-width:768px) and (max-width:1200px){
    .contenedor form{
        margin-top: 200px;
    }
}

@media screen and (min-width:300px) and (max-width:560px){
    .contenedor form{
        margin-top: 200px;
    }
}