/* background-img */
body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .navbar{
    width: 100%;
    position: fixed;
}

.img-logo{
    width: 50px;
    margin-left: 5px;
}

.navbar {
    background-color: #506DA4;
  }

a{
    list-style: none;
}
  .navbar-nav .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
    }



.navbar-nav .nav-link:hover{
    color: #82bce5;
    padding: 1px;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 6px;
}


.img-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #ffffff;
   

  }
  
  .img-container img {
    width: 600px;
    max-width: 100%; 
    height: auto; 
  }
  
.section-uno{
    background-color: #506DA4;
}

.img img{
    margin-top: 12px;
    margin-bottom: 10px;
    border-radius: 100%;
    border: 5px solid #fff;
}

.img-text{
     color: #fff;
     font-weight: 500;
}

.img-text h1{
    font-size: 30px;
}


.section-dos{
    margin-top: 150px;
    background-color: #506DA4;
}

form h2{
    color: #fff;
    font-weight: 500;
    font-size: 25px;
}

label{
    color:#506DA4;
    font-size: 20px;
    font-weight: 500;
}


.back{
    background-color: #FBFBFB;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;

}

footer{
    background-color: #48546B;
    margin-top: 75px;
    padding: 20px;
}

p{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

    /*--Media Queries--*/

@media screen and (min-width:400px) and (max-width:600px){
    .section-dos{
        margin-top: 50px;
    }
}

@media screen and (min-width:400px) and (max-width:600px){
    .footer{
        margin-top: 50px;
    }
}

@media screen and (min-width: 400px) and (max-width: 992px) {
    .form-container {
      padding: 0 30px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .form-container {
      max-width: 800px;
      margin: 0 auto;
    }
  }





  